<!DOCTYPE html>
<html>
<head>
    <title>THEGRAMM</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center" style="font-size: 60px"><img src="/static/hey.jpg"/></h1>
        <hr>
        <div id="content">

        </div>

    </div>
    
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/page.js"></script>
    <script src="/static/js/vendor/handlebars.min.js"></script>

    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/view-manager.js"></script>
    <script src="/static/js/auth-manager.js"></script>
    <script src="/static/js/photo.js"></script>
    <script src="/static/js/photo-manager.js"></script>
    <script src="/static/js/routes.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
